html,
body{
  height:100%;
  width: 100%;
}
#Etusivu{
background-color: blue;


}
#Valikko{
  background-color: lightblue;
  float: left;
  width: 150px;
  height: 100%;
  font-size: 20px;
}
#Valikko ul li{
  list-style: none;
}
#Valikko ul li a{
  text-decoration: none;
  }
  #Valikko ul li a:hover{
    background-color: orange;
  }
#footter{
  background-color: orange;
  margin-left: 160px;
  
}
#Kirjaudu{
background-color: white;

}
#Luo{
background-color: white;

}
#Selaa{
background-color: white;

}
#Ostoskori{
background-color: white;

}
#Tietokannat{
background-color: white;

}
#Ulos{
background-color: white;

}
