#Etusivu{
background-color: lightblue;

}
#Valikko{
background-color: white;

}
#Kirjaudu{
background-color: lightblue;

}
#Luo{
background-color: lightblue;

}
#Selaa{
background-color: lightblue;

}
#Ostoskori{
background-color: lightblue;

}
#Tietokannat{
background-color: lightblue;

}
#Ulos{
background-color: lightblue;

}
